.container h2 {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-attachment: fixed;
    background-size:cover;
    letter-spacing: 3px;
    font-size: 3.5em;
    margin: 0.4em;
 
}